<div ng-show="ctrl.isActive()">
	<div ng-show="!ctrl.submitted">
		<img ng-if="ctrl.getDrawing()" ng-attr-src="{{ctrl.getDrawing()}}" alt="Guess this!"/>
		<div class="form-group">
			<label for="guess">
				Enter something for others to draw and guess:
			</label>
			<input id="guess" ng-model="ctrl.guess" type="text" class="form-control" placeholder="Guess">
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ctrl.submit()">Submit</button>
	</div>
	<div ng-show="ctrl.submitted">
		Guess submitted! Now lets wait for the others...
	</div>
</div>