<div ng-hide="ctrl.isConnected()" class="row">
	<h1 class="heading">Photo Telephone</h1>
	<form ng-if="ctrl.state === ctrl.STATES.JOINING || ctrl.state === ctrl.STATES.HOSTING">
		<div class="form-group">
			<label for="username">
				Name
			</label>
			<input id="username" autocomplete="off" type="text" class="form-control" data-ng-model="ctrl.name"
				   placeholder="Name">
		</div>
		<div class="form-group" ng-if="ctrl.state === ctrl.STATES.JOINING">
			<label for="room-id">
				Room Code
			</label>
			<input id="room-id" autocomplete="off" type="text" class="form-control" data-ng-model="ctrl.room"
				   placeholder="Room">
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ctrl.connect()">
				Play
			</button>
			<button type="button" class="btn btn-default btn-lg btn-block" ng-click="ctrl.state = ctrl.STATES.DEFAULT">
				Back
			</button>
		</div>
	</form>
	<div ng-if="ctrl.state === ctrl.STATES.DEFAULT">
		<button type="button" class="btn btn-default btn-lg btn-block" ng-click="ctrl.state = ctrl.STATES.JOINING">
			Join
		</button>
		<button type="button" class="btn btn-default btn-lg btn-block" ng-click="ctrl.state = ctrl.STATES.HOSTING">
			Host
		</button>
	</div>
</div>